<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MusicStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="shortcut icon" href="~/images/favicon.png">
    <link href="~/Content/flat-ui.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/app.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/appCommon.css" type="text/css" /> 
    
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MusicStore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Store", "Store", "StoreManager")</li>
                    <li>@Html.ActionLink("My Order", "Order", "Cart")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                    <li>
                        <a id="onmodal" style="height:40px" onclick="OnShow();" class="btn-link glyphicon glyphicon-shopping-cart">
                            <i id="end"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel" style="text-align:center">Shopping Cart</h4>
                </div>
                <div class="modal-body">
                    <label id="123"></label>
                    <table class="table table-hover table-striped" id="cartTable">
                        <thead>
                        <thead>
                            <tr>
                                <th class="td">#</th>
                                <th class="td" data-type="num">AlbumID</th>
                                <th class="td" data-type="string">Title</th>
                                <th class="td" data-type="string">Artist</th>
                                <th class="td" data-type="string">Genre</th>
                                <th class="td" data-type="string">Price</th>
                                <th class="td" data-type="string">Count</th>
                                <th class="td" data-type="string"></th>
                            </tr>
                        </thead>
                        <tbody id="ctbody">
                            
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="cartSubmit" onclick="cart()">Submit</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->

    </div>

    <div id="header" class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="footer-black navbar-fixed-bottom">
        <div class="footer-bar">
            <a class="exit-btn" href="#header">
                <img src="~/images/logo.footer.png" />
                <span>Top</span>
            </a>
        </div>
        <br />
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.infinitescroll.min.js"></script>
    <script src="~/Scripts/flat-ui.js" type="text/javascript"></script>
    <script src="~/Scripts/application.js"></script>
    <script src="~/Scripts/DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/CustomerizedJS/ValidateCommon.js"></script>
    <script src="~/Scripts/DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/fly.js"></script>
    <script src="~/Scripts/OnShow.js"></script>
</body>
</html>
